<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Queen</title>
  </head>
  <body>
    <form action="/attack" method="post">
      <label>Enter the position of your Queen<label>
      <input id="queenX" name="queenX" placeholder="X Coordinate">
      <input id="queenY" name="queenY" placeholder="Y Coordinate">
      <br>
      <label>Enter the position of where you want to attack<label>
      <input id="attackX" name="attackX" placeholder="X Coordinate">
      <input id="attackY" name="attackY" placeholder="Y Coordinate">

      <button type="submit">Submit</button>
    </form>

    {% if result is not empty %}
      {{ result }}
    {% endif %}
  </body>
</html>
